* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

p {

    margin: 0;
}


.containerHeader {
    width: 100%;
  
    flex-direction: row;
    padding: 5px;
    background-color:#55A7E6;
    
   }

.containerHeaderTelefono {
    align-items: flex-start;
}
.containerHeaderMail {
    align-items: center;
}