* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

p {

    margin: 0;
}


.containerHeader {
    width: 100%;
    min-height: 30px;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(130, 215, 255);
    align-items: center;
    
   }
.telefonoMail {
    display: flex;
    align-items: center;

}
.redeSociales {
    display: flex;
    align-items: center;
   }

.containerMain {
   display: flex;
   align-items: center;
   background-color: #5566D4;

}


